@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(48,48,48);
    --bg-color: rgb(31,31,31)
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 85px;
    background-color: var(--main-color);
    height: 100vh;
    position: fixed;
}

.sidebar.active {
    width: 260px;
}

.logo_content {
    height: 70px;
    background-color: var(--bg-color);
}

.logo_content .logo {
    color: #fff;
    display: none;
    background-color: var(--bg-color);
    padding: 20px;
}

.logo_content .btn-toggle {
    position: absolute;
    color: whitesmoke;
    right: 17px;
    top: 7px;
    font-size: 26px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar ul {
    padding: 20px;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    align-items: center;
    padding: 15px;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: rgb(20,20,20);
    border-radius: 10px;
}

.sidebar ul li a i {
    padding-right: 24px;
    font-size: 20px;
    display: center;
}

.sidebar ul li a span {
    display: none;
}

.sidebar.active ul li a span {
    display: block;
}



