* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    overflow-x: hidden;
}

#darkmode {
    background: #141414;
}

ul,
ol {
    list-style-type: none;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

img {
    overflow: hidden;
    border: 0;
    vertical-align: middle;
}

.zindex {
    position: relative;
    z-index: 999;
}

.clr {
    clear: both;
}

.vbox-overlay {
    z-index: 999999;
}

.lightboxOverlay {
    z-index: 999999;
}

.lightbox {
    z-index: 9999999;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    line-height: 27px;
}

@font-face {
    src: url(../fonts/BarlowCondensed-Bold.ttf);
    font-family: bb;
}

@font-face {
    src: url(../fonts/BarlowCondensed-Regular.ttf);
    font-family: br;
}
